/*alignment*/
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color:#021022;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1,#hero-box h4{
    text-align: center;
}
.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box
}

#background{
    height: 725px;
}

/*colors*/

body{
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color:#90E0EF;
}

nav a:hover {
    background-color: black;
    color: #90E0EF
}

.book,.join{
    background-color:#90E0EF;
    color:#0096C7;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #90E0EF;
    color: black;
}

#background{
    background-color: #90E0EF;
}

.msg{
    background-color:aliceblue;
    line-height: 1.5em;
    padding: 35px;
}

.msg p{
    color:#CAF0F8;
    font-size: .8em;
    padding-bottom: 15px;
}

.msg h2{
    color:#042a5c;
    font-family: 'Abril Fatface', sans-serif;
}

footer{
    background-color: #042a5c;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color:#90E0EF;
    text-decoration: none;
}
footer h3, a:hover{
    color:#90E0EF;
    text-decoration: underline;
}

footer img{
    width:30px;
    padding-top: 15px;
}

.home-title{
    color: #030303;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color:#CAF0F8;
}
/*widths*/

.logo, .icon{
    width:80px;
}

.icon{
    padding-top: 10px;
}

#hero-img{
    width: 100%;
    height: auto;
}

.social{
    width: 5px;
    height:auto;
}

h2{
    margin: 0;
}

.logo{
    padding-top: 5px;
}

.extreme, .challenge, .adventure{
    margin: 200px 0;
}

.real_img{
    border: 5px solid black;
    width: 300px;
}
